<!-- Card -->
<mat-card
    style="border-radius: 0.5em;margin: 0.5em;box-shadow: (2,2,2,2)"
    (click)="navigateTo()"
>
    <!-- Product img -->
    <div class="productImg">
        <img
            class="image"
            width="200"
            height="auto"
            [lazyLoad]="image"
            (onLoad)="onLoadImage()"
            alt="Product image"
        />
    </div>
    <div *ngIf="product.reserved" class="productTitle tag">
        Réservé
    </div>
    <!-- User Avatar -->
    <div *ngIf="!product.reserved" class="productAvatar">
        <img
            width="30"
            height="auto"
            [lazyLoad]="avatar"
            alt="Avatar image"
            class="
            avatar"
        />
    </div>
    <!-- Product title -->
    <div class="productTitle">
        <p style="font-weight: 500;">{{ title }}</p>
    </div>
    <!-- Infos -->
    <div class="productInfos">
        <img
            src="https://static.geev.com/assets/img/icons/icon-pin-plain.svg"
        />
        <mat-label style="font-size: 10px;margin-right: 2em;"
            >{{ distance }}km</mat-label
        >
        <img
            src="https://static.geev.com/assets/img/icons/icon-stopwatch-plain.svg"
        />
        <mat-label style="font-size: 10px;">{{ time + unity }}</mat-label>
    </div>
</mat-card>
<!-- Card -->
