<div #product class="productRow">
    <div *ngFor="let product of products">
        <app-product
            [product]="product"
            [lastProductId]="lastDisplayedProductId"
            (onLastProductLoad)="lastProductLoaded()"
        >
        </app-product>
    </div>
</div>
